:root {
    --cor-primaria:  darkgreen;
    --cor-segundaria:  rgb(110, 255, 110);
    --cor-fundo:  white;
    --cor-texto: rgb(0, 0, 0);
    --cor-contraste: rgb(252, 252, 252);
    --cor-botao: rgb(255, 255, 255);
}

body {
    max-width: 100vw;
}

header {
background-color:var(--cor-primaria);
color: var(--cor-contraste);
text-align: center;
margin: 0 auto;
padding: 16px;
}

main {
background-color:var(--cor-fundo);
color: var(--cor-primaria);
margin: 0 auto;
padding: 16px;
display: flex;
flex-wrap: wrap;
}

article {
display: flex;
border: 1px solid var(--cor-primaria);
margin: 16px;
gap: 16px;
padding: 16px;
flex: 1 1 30%;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
}

img {
width: 80px;
height: 80px;
}
.artigo-autor {
font-weight: bold;
}